{# src/LDC/BloggleBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
	<h1>Bloggle Prototype</h1>
	Welcome to bloggle!
	{% if blogs.count > 0 %}
	<p/>choose a blog
		<ul>
		{% for blog in blogs %}
		<li><a href="{{ path('ldc_bloggle_blog' , {'id': blog.id}) }}">{{blog.title}} : {{blog.id}} : posts {{blog.posts.count}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	<hr>
	<a href="{{ path('ldc_bloggle_newblog') }}">create a blog</a>
{% endblock %}
