{# src/LDC/BloggleBundle/Resources/views/Default/blog.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
{% if blog is defined %}
<h1>Bloggle Blog : {{blog.title}}</h1>
	{% for post in blog.posts %}
		<h5>{{ post.title }}</h5>
		Content: {{ post.content }}<p/>
		Created: {{ post.getCreatedAsString() }}<p/>
		Post id: {{ post.id }}<p/>
		<hr>
	{% endfor %}
	<a href="{{ path('ldc_bloggle_post', {'title':blog.title}) }}">Create post</a>|
	<a href="{{ path('ldc_bloggle_homepage') }}">Home</a>
{% endif %}
{% endblock %}
