{# src/LDC/BloggleBundle/Resources/views/Default/post.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
	<h1>Bloggle Post</h1>
	Created id: {{ post.id }}<p/>
	{{ post.title }}<p/>
	{{ post.content }}<p/>
	{{ post.created }}<p/>
	<a href="{{ path('ldc_bloggle_post', {'title':blog.title}) }}">Create post</a>|
	<a href="{{ path('ldc_bloggle_blog', {'title':blog.title}) }}">all posts</a>|
	<a href="{{ path('ldc_bloggle_homepage') }}">Home</a>
{% endblock %}
